.slime {
	overflow: auto;
	text-align: center;
	white-space: nowrap;
}

.slime.slime-left {
	text-align: left;
}

.slime.slime-right {
	text-align: right;
}

.slime > *,
.slime .slime-scroller > * {
	display: inline-block;
	vertical-align: top;
}

.slime.slime-active {
	position: relative;
	overflow: hidden;
	padding-left: 0;
	padding-right: 0;
}

.slime.slime-active.slime-drag {
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
	tap-highlight-color: transparent;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: move;
	cursor: -webkit-grab;
	cursor: -moz-grab;
	cursor: grab;
}

.slime.slime-active .slime-scroller {
	display: inline-block;
	position: relative;
	min-width: 100%;
	-moz-transition-timing-function: cubic-bezier(0.12,0.18,0.25,1);
	-webkit-transition-timing-function: cubic-bezier(0.12,0.18,0.25,1);
	transition-timing-function: cubic-bezier(0.12,0.18,0.25,1);
}

.slime.slime-active .slime-scroller > * {
	white-space: normal;
}

.slime.slime-active a:active,
.slime.slime-active a:active img {
	outline: none;
}

.slime.slime-active,
.slime.slime-active .slime-scroller {
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
}

.slime.slime-active.slime-grabbing,
.slime.slime-active.slime-grabbing * {
	cursor: move;
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
	cursor: grabbing;
}